<mat-toolbar>
  <mat-toolbar-row>
    <img width="70" alt="EPA" src="assets/img/EPA_logo.png"/>
    <span><h1>Scribe Data Explorer</h1></span>
    <!-- This fills the remaining space of the current row -->
    <div class="mat-toolbar-spacer"></div>
    <div *ngIf="loginService.currentUser | async as currentUser">
      <span style="margin: 10px;">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon style="font-size: xx-large">menu</mat-icon>
        </button>
      </span>
      <mat-menu #menu="matMenu">
        <span mat-menu-item>User: {{ currentUser.name }}</span>
        <mat-form-field *ngIf="(scribeDataExplorerService.userAGOLServices | async)" style="width: 100%;">
          <mat-label>Open your GeoPlatform service:</mat-label>
          <mat-select [formControl]="projects">
            <mat-option *ngFor="let item of scribeDataExplorerService.userAGOLServices.value">
              <a matLine [href]="item.url" target="_blank">{{ item.title }}</a>&nbsp;
              <mat-icon>open_in_new</mat-icon>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
