/*
* Make the component injected by <router-outlet> full height:
*/
:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 100%;
  min-height: 100%;
}
main {
  display: flex;
  flex-direction: column;
  // Select all direct descendants only of the <main> element
  // that are not <router-outlet> elements:
  > *:not(router-outlet) {
    flex: 1; // child will set to an equal size inside the container
    display: block;
  }
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // same height as browser window height
}

// Angular Material app style overrides

::ng-deep .mat-select-value-text {
  white-space: normal !important;
}

// Remove the active tab grayed out style
::ng-deep .mat-tab-label.mat-tab-label-active {
  opacity: 1 !important;
}
