<div class="component-container-col">
  <div>
    Welcome to Scribe Data View Tool: An application to organize and view the
    <a
      href="https://response.epa.gov/site/site_profile.aspx?site_id=ScribeGIS"
      target="_blank"
    > USEPA's Environmental Response Team's Scribe database
    </a>.
    <div *ngIf="projectsLoaded" style="margin-top: 10px;">
      <mat-label>Select Project: </mat-label>
      <select matNativeControl name="selectProject"
              [(ngModel)]="selectedProject" (ngModelChange)="getProjectData($event)">
        <option value="" selected></option>
        <option *ngFor="let project of userProjects" [value]="project.projectid">
          {{project.project_name}}
        </option>
      </select>
    </div>
    <br>
    <div *ngIf="projectSamplesRowData.length > 0">
      <span [hidden]="geoPointsArray.length > 0" class="mat-warn">
        {{'No geospatial points'}}
      </span>
      <span [hidden]="!(geoPointsArray.length > 0 && projectSamplesRowData.length > geoPointsArray.length)"
            class="mat-warn">
        {{'Number of records without geospatial points:' + (projectSamplesRowData.length - geoPointsArray.length)}}
      </span>
    </div>
  </div>
  <mat-tab-group (selectedIndexChange)="onTabChange($event)" animationDuration="10ms">
    <mat-tab>
        <ng-template mat-tab-label>
          {{tabs[0]}}&nbsp;&nbsp;
          <button *ngIf="selectedTab === 0 && projectLabResultsRowData.length > 0" (click)="openVisibleColumnsDialog()">
            Visible Columns
          </button>&nbsp;&nbsp;
          <button *ngIf="selectedTab === 0 && projectLabResultsRowData.length > 0" (click)="onExportCSVBtnClick()">
            Export CSV
          </button>
        </ng-template>
        <div class="component-container-flex">
          <mat-spinner *ngIf="isLoadingData" style="wdith: 100%; top: 50%; left: 50%;"></mat-spinner>
          <app-ag-grid
            *ngIf="!isLoadingData"
            [hidden]="!selectedProject"
            [isLoading]="isLoadingData"
            [columnDefs]="projectLabResultsColDefs"
            [rowData]="projectLabResultsRowData"
            [customFilterProps]="agGridCustomFilters"
            [updatingColDefs]="updateColDefs.asObservable()"
            [exportingCSV]="exportLabResultsCSV.asObservable()"
            [style.width]="(geoPointsArray.length > 0) ? '900px' : '100%'"
            (filtersChangedEvent)="agGridFiltersChanged($event)"
            (rowSelectedEvent)="agGridRowSelected($event)"
          ></app-ag-grid>
          <app-map-view
            *ngIf="geoPointsArray.length > 0"
            [pointData]="geoPointsArray"
            [selectedGeoPoint]="selectedGeoPoint"
            (mapFeaturesLoadedEvent)="mapGeoFeaturesLoaded($event)"
          ></app-map-view>
        </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        {{tabs[1]}}&nbsp;&nbsp;
        <button *ngIf="selectedTab === 1 && projectSamplesRowData.length > 0" (click)="openVisibleColumnsDialog()">
          Visible Columns
        </button>&nbsp;&nbsp;
        <button *ngIf="selectedTab === 1 && projectSamplesRowData.length > 0" (click)="onExportCSVBtnClick()">
          Export CSV
        </button>
      </ng-template>
      <div class="component-container-flex">
        <mat-spinner *ngIf="isLoadingData" style="wdith: 100%; top: 50%; left: 50%;"></mat-spinner>
        <app-ag-grid
          *ngIf="!isLoadingData"
          [hidden]="!selectedProject"
          [isLoading]="isLoadingData"
          [columnDefs]="projectSamplesColDefs"
          [rowData]="projectSamplesRowData"
          [customFilterProps]="agGridCustomFilters"
          [updatingColDefs]="updateColDefs.asObservable()"
          [exportingCSV]="exportSamplePointLocationCSV.asObservable()"
          [style.width]="(geoPointsArray.length > 0) ? '900px' : '100%'"
          (filtersChangedEvent)="agGridFiltersChanged($event)"
          (rowSelectedEvent)="agGridRowSelected($event)"
        ></app-ag-grid>
        <app-map-view
          *ngIf="geoPointsArray.length > 0"
          [pointData]="geoPointsArray"
          [selectedGeoPoint]="selectedGeoPoint"
          (mapFeaturesLoadedEvent)="mapGeoFeaturesLoaded($event)"
        ></app-map-view>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

