<div class="component-container">
  <mat-card style="width: 100%">
    <mat-card-content>
      Welcome to Sadie: An application to organize and view the
      <a
        href="https://response.epa.gov/site/site_profile.aspx?site_id=ScribeGIS"
        target="_blank"
      > USEPA's Environmental Response Team's Scribe database
      </a>.
      <br><br>
      <div *ngIf="isLoaded">
        <mat-label>Select Project: </mat-label>
        <select matNativeControl [(ngModel)]="selectedProject" name="project">
          <option value="" selected></option>
          <option *ngFor="let project of userProjects" [value]="project.id">
            {{project.project_name}}
          </option>
        </select>
      </div>
    </mat-card-content>
  </mat-card>
</div>
