<ag-grid-angular
  style="height: 100%"
  class="ag-theme-balham"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="rowData"
  [frameworkComponents]="customComponents"
  [pagination]="true"
  [paginationAutoPageSize]="true"
  [alwaysShowVerticalScroll]="false"
  [rowSelection]="'single'"
  (filterChanged)="onFiltersChanged($event)"
  (selectionChanged)="onSelectionChanged($event)"
  [overlayLoadingTemplate]="overlayLoadingTemplate"
  (gridReady)="onGridReady($event)"
  (modelUpdated)="onModelUpdated($event)"
>
</ag-grid-angular>
