<ag-grid-angular
  style="height: 100%"
  class="ag-theme-balham"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="rowData"
  [frameworkComponents]="customComponents"
  [pagination]="false"
  [paginationAutoPageSize]="false"
  [alwaysShowVerticalScroll]="false"
  rowSelection="multiple"
  (filterChanged)="onFiltersChanged($event)"
  (selectionChanged)="onSelectionChanged($event)"
  [overlayLoadingTemplate]="overlayLoadingTemplate"
  (gridReady)="onGridReady($event)"
  (modelUpdated)="onModelUpdated($event)"
  [modules]="modules"
>
</ag-grid-angular>
