Django==2.2.0
django-mssql-backend==2.4.0
djangorestframework>=3.10.3,<=3.10.99
djangorestframework-queryfields>=1.0.0
djangorestframework-filters==1.0.0.dev0
psycopg2>=2.7,<3.0
git+https://github.com/Innovate-Inc/django-agol-oauth2.git@master#egg=django-agol-oauth2==0.0.1
django-rest-framework-social-oauth2==1.1.0