
// Base Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Custom Color definitions
$ml-custom-blue-1: #84CEEB;
$ml-custom-blue-2: #659DBD;

$gray-60: #656565;
$gray-50: #808080;
$gray-40: #989898;
$gray-30: #B2B2B2;
$gray-20: #CBCBCB;
$gray-10: #E6E6E6;
$gray-0: #F7F7F7;

$gray-727272: #727272;
$gray-A4A4A4: #A4A4A4;
$gray-757575: #757575;
$gray-787878: #787878;
$gray-949494: #949494;
$gray-979797: #979797;
$gray-888888: #888888;
$gray-323232: #323232;
$gray-EAEAEA: #EAEAEA;
$gray-3F3F3F: #3F3F3F;
$gray-FCFCFC: #FCFCFC;

$black-000000: #000000;
$black-000000-50: rgba($black-000000, 0.5);

// Increased grid columns
$grid-columns: 24;

// Typography
$font-family-sans-serif: "din-2014", sans-serif;
$font-size-base: 1rem;


// [Added] Theme colors
$theme-colors: (
  primary: $blue,
  // secondary: '',
  // success: '',
  // danger: '',
  // warning: '',
  // info: '',
  // light: '',
  // dark: '',
  action-blue: $blue,
  action-green: $green,
  action-red: $red,
  gray-0: $gray-0,
  gray-10: $gray-10,
  gray-20: $gray-20,
  gray-30: $gray-30,
  gray-40: $gray-40,
  gray-50: $gray-50,
  gray-60: $gray-60,

  gray-727272: $gray-727272,
  gray-A4A4A4: $gray-A4A4A4,
  gray-757575: $gray-757575,
  gray-787878: $gray-787878,
  gray-949494: $gray-949494,
  gray-979797: $gray-979797,
  gray-888888: $gray-888888,
  gray-323232: $gray-323232,
  gray-EAEAEA: $gray-EAEAEA,
  gray-3F3F3F: $gray-3F3F3F,
  gray-FCFCFC: $gray-FCFCFC,

  black-000000-50: $black-000000-50,
);

// Body
$body-bg: $gray-FCFCFC;
