/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
// AG Grid style imports
@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham.scss";
// Esri JS API css
//@import url('https://js.arcgis.com/4.12/esri/css/main.css');

@include mat-core();

$config: mat-typography-config();

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: mat-font-family($config);
  font-weight: normal;
}

// Custom theme configurations
$primary: mat-palette($mat-blue, 500);
$accent:  mat-palette($mat-blue, 500, A200, A400);
$error:    mat-palette($mat-red, 500);
$warn:    mat-palette($mat-orange, 500);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

// Custom colors
$custom-colors: (
  toolbar-background: mat-color($mat-blue, 700),
);

// Material Angular extended classes
mat-drawer-container {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
}
mat-tab-group, .mat-tab-body-wrapper {
  height: calc(100vh - 200px) !important;
  overflow-y: auto !important;
}
.mat-warn {
  color: mat-color($warn);
}
.mat-toolbar {
  background: map-get($custom-colors, toolbar-background);
  color: white;
  mat-icon {
    cursor: pointer;
    font-size: 1.6em;
    transform: translateY(3px);
  }
  h1 { font-size: 1.2em; }
}
.mat-toolbar-spacer {
  /* This fills the remaining space, by using flexbox.*/
  flex: 1 1 auto;
}

// Custom classes
.component-container-flex  {
  display: flex;
  height: 100%;
}

.component-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.component-container-col  {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.center {
  justify-content: center;
  align-content: center;
  align-items: center;
}

footer {
  position: absolute;
  margin-bottom: 0;
  height: 15px;
  width:100%;
  background: map-get($custom-colors, toolbar-background);
  color: white;
  padding: 20px;
}

// map styles
.map-container {
  height: 100%;
  width: 100%;
  box-shadow: 0 8px 6px -6px black;
}

.esri-view-height-less-than-medium .esri-popup__main-container {
  max-height: 250px !important;
}

// custom AG Grid styles
.ag-theme-balham .ag-cell {
  font-size: 10px !important;
}

.ag-theme-balham .cell-wrap {
  white-space: normal !important;
}

// Other custom styles
.loading-spinner {
  position: absolute;
  top: 40%;
  left: 75%;
}
