/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
// AG Grid style imports
@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham.scss";

@include mat-core();

$config: mat-typography-config();

html, body {
  height: 100%;
}
body {
  margin: 0 !important;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: mat-font-family($config);
  font-weight: normal;
}

// Custom theme configurations
$primary: mat-palette($mat-blue, 500);
$accent:  mat-palette($mat-blue, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

// Custom colors
$custom-colors: (
  toolbar-background: mat-color($mat-blue, 700),
);

// Custom and extended classes
.mat-toolbar {
  background: map-get($custom-colors, toolbar-background);
  color: white;
  mat-icon {
    cursor: pointer;
    font-size: 1.6em;
    transform: translateY(3px);
  }
  h1 { font-size: 1.2em; }
}
.mat-toolbar-spacer {
  /* This fills the remaining space, by using flexbox.*/
  flex: 1 1 auto;
}

.content-container {
  height: 100%;
}

.component-container  {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
}

.component-container > * {
  margin: 10px;
}

.center {
  justify-content: center;
  align-content: center;
  align-items: center;
}

footer {
  position: absolute;
  margin-bottom: 0;
  height: 15px;
  width:100%;
  background: map-get($custom-colors, toolbar-background);
  color: white;
  padding: 20px;
}

// Other custom classes
svg#clouds {
  position: fixed;
  bottom: -170px;
  z-index: -10;
  width: 100%;
}
