/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@include mat-core();

$config: mat-typography-config();

html, body {
  height: 100%;
  margin: 0 !important;
}
body {
  display: flex;
  flex-direction: column;
  font-family: mat-font-family($config);
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: normal;
}

// Custom theme configurations
$primary: mat-palette($mat-blue, 500);
$accent:  mat-palette($mat-blue, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

// Custom colors
$custom-colors: (
  toolbar-background: mat-color($mat-blue, 700),
);

// Custom and extended classes
.mat-toolbar {
  background: map-get($custom-colors, toolbar-background);
  color: white;
  span { margin-right: 2rem; }
  mat-icon {
    cursor: pointer;
    font-size: 1.6em;
    transform: translateY(3px);
  }
  h1 { font-size: 1.2em; }
}
.mat-toolbar-spacer {
  /* This fills the remaining space, by using flexbox.*/
  flex: 1 1 auto;
}

.content {
  flex: 1 0 auto;
  padding: 20px;
}

mat-sidenav { width: 30vw; }
mat-list-item { cursor: pointer; }

footer {
  position: absolute;
  bottom:0;
  width:100%;
  background: map-get($custom-colors, toolbar-background);
  color: white;
  padding: 2vh 1.7vw;
  > * { padding: 0 0 0 2rem; }
}

// Other custom classes
.login-container {
  margin-top: 100px;
}


svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 100%;
}
