<div>
  <div>
    <span class="mat-h3">
      Click a project in the map to load a single project or use the lasso tool <span class="esri-icon-polygon">.</span>
      to select multiple projects. To use the lasso, click once to begin drawing and double-click to complete.
      <br>
      <span>Project(s) selected: <b>{{selectedProjectNames}}</b></span>
      <br>
    </span>
  </div>
  <div mat-dialog-content>
    <app-map-view
      [mapDivId]="'projectCentroidsMap'"
      [portalLayerIds]="['add9432d507146e7abf3351efa097b99']"
      (mapFeaturesLoadedEvent)="mapGeoFeaturesLoaded($event)"
    ></app-map-view>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="dismiss()">Cancel</button>
    <button mat-raised-button color="primary" (click)="confirm()">Go</button>
  </div>
</div>
